# Ignore the Dockerfile and .dockerignore files themselves
Dockerfile
.dockerignore

# Ignore the node_modules directory
node_modules

# Ignore local build and test artifacts
coverage
build
*.log

# Ignore environment configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore IDE and editor configuration files
.idea
.vscode

# Ignore OS-specific files
.DS_Store

# Ignore Terraform related files
terraform/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore private keys and sensitive files
**/id_ed25519*
**/id_rsa*
**/id_ecdsa*
**/*.pem
**/*.key
**/*.p12
**/*.crt
**/*.jks

# Ignore other binary files
*.bin
*.exe
*.dll

# Ignore backup files
*~
*.bak
*.swp
